//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import ObjectMapper
import Alamofire
import Giba
import SocialCorporateAPI

open class {{ module_info.name }}Service: AbstractRestService {

}
