//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Skyline

class {{ module_info.name }}Interactor: BaseInteractor, {{ module_info.name }}InteractorInterface {

    // MARK: - Viper dependency injection
    
    var presenter: {{ module_info.name }}Presenter? {
    	get { return self.basePresenter as? {{ module_info.name }}Presenter }
    }

    // MARK: - Interactor protocol implementation

}
