//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import Skyline

class {{ module_info.name }}ViewController: BaseViewController, {{module_info.name}}ViewInterface {

    // MARK: - Viper dependency injection

    var presenter: {{ module_info.name }}PresenterInterface? {
        get { return self.basePresenter as? {{ module_info.name }}PresenterInterface }
    }
    
    // MARK: - Outlets

    
	// MARK: - Properties


    // MARK: - Lifecycle
    
    override func viewDidLoad() {
        super.viewDidLoad()
        
    }
    
    // MARK: - View protocol implementation

    override open func setupViews() {
          
    }
    
    // MARK: - Actions
    

}
