//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import Skyline

// MARK: - View

protocol {{ module_info.name }}ViewInterface: BaseViewInterface { }

// MARK: - Interactor

protocol {{ module_info.name }}InteractorInterface: BaseInteractorInterface { }

// MARK: - Presenter

protocol {{ module_info.name }}PresenterInterface: BasePresenterInterface { }

// MARK: - Router

protocol {{ module_info.name }}RouterInterface: BaseRouter { }
