//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Skyline

class {{ module_info.name }}Presenter: BasePresenter<{{ module_info.name }}Model>, {{ module_info.name }}PresenterInterface {

    // MARK: - Viper dependency injection
    
    weak var view: {{ module_info.name }}ViewInterface? {
        get { return self.baseView as? {{ module_info.name }}ViewInterface }
    }
    var router: {{ module_info.name }}RouterInterface? {
	    get { return super.baseRouter as? {{ module_info.name }}RouterInterface }
    }
    var interactor: {{ module_info.name }}InteractorInterface? {
    	get { return super.baseInteractor as? {{ module_info.name }}InteractorInterface }
    }

    // MARK: - Presenter protocol implementation

}