//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Skyline

class {{ module_info.name }}Router: BaseRouter, {{ module_info.name }}RouterInterface {

 	// MARK: - Viper dependency injection
    
    var presenter: {{ module_info.name }}PresenterInterface? {
        get { return self.basePresenter as? {{ module_info.name }}PresenterInterface }
    }

    // MARK: - Router protocol implementation


    // MARK: - Create module
    
    static func createModuleWithNavigation(with model: {{ module_info.name }}Model) -> UINavigationController {
        let navigation = BaseNavigationController()
        let module = createModule(in: navigation, with: model)
        navigation.viewControllers = [module]
        return navigation
    }
    
    static func createModule(in navigationController: UINavigationController? = nil, with model: {{ module_info.name }}Model) -> {{ module_info.name }}ViewController {
        
        // Create layers

        let router = {{ module_info.name }}Router()
        let presenter = {{ module_info.name }}Presenter(model: model)
        let interactor = {{ module_info.name }}Interactor()
        let view = UIStoryboard(name: "{{ module_info.name }}", bundle: Bundle.main).instantiateViewController(withIdentifier: "{{ module_info.name }}ViewController") as! {{ module_info.name }}ViewController
        
        // Inject dependencies
        presenter.inject(view, router, interactor)
        router.inject(presenter, navigationController)
        interactor.inject(presenter)
        view.inject(presenter)
        
        return view
        
    }

}
